.App {
	font-family: Helvetica;
	width: 100vw;
	height: 100vh;
}

@media only screen and (min-width: 1200px) {
	#first, #second {
		font-size: 80px;
	}

	#headshot {
		width: 80px;
		height: 80px;
	}

	#statement {
		font-size: 15.2px;
	}
}

@media only screen and (max-width: 1200px) {
	#first, #second {
		font-size: 60px;
	}

	#statement {
		font-size: 14px;
		width: 500px;
	}

	#headshot {
		width: 70px;
  		height: 70px;
	}

	#info-github-icon {
		left: 90px;
		margin-top: -7px;
	}

	#cardViewer h1 {
		font-size: 15px;
	}

	#cardViewer h2 {
		font-size: 12px;
	}

	#envelope-icon {
		left: 50px;
		margin-top: -7px;
	}
}

@media only screen and (min-width: 900px) {
	.App {
		display: grid;
		grid-template-columns: 60% 40%;
		grid-template-areas: "info cards";
	}
}


@media only screen and (max-width: 900px) {
	.App {
		display: grid;
		grid-template-rows: 30% 70%;
		grid-template-areas: 
			"info"
			"cards";
		align-items: center;
	}

	#cardViewer {
		margin-bottom: 5%;
		margin-top: 165%;
	}

	.card {
		margin-top: 25%;
	}

	#personal-info {
		position: absolute;
		top: 0;
		left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0%);
		margin-left: 5px;
		margin-right: 5px;
	}

	#personal-info-container {
		background-color: #F9FFFD;
		border-bottom: 1px solid lightgray;
		height: 350px;
		z-index: 2;
	}

	#info-github-icon {
		margin-top: -10px;
	}

	#envelope-icon {
		margin-top: -10px;
	}
}

@media only screen and (max-width: 600px){

	#personal-info-container {
		height: 200px;
		width: 100%;
	}

	#first {
		margin-left: .5%;
	}

	#first, #second {
		font-size: 30px;
		margin-left: 20px;
	}

	#statement {
		margin-top: 15px;
		font-size: 9.5px;
		width: 330px;
	}

	#info-github-icon {
		position: absolute;
		left: 85px;
		width: 15px;
	}

	#envelope-icon {
		position: absolute;
		left: 60px;
		width: 15px;
	}

	#headshot {
		margin-top: 15px;
		margin-left: 15px;
		width: 50px;
  		height: 50px;
	}
}