.App {
	background-color: #F9FFFD;
	font-family: Helvetica;
}

/* Modularize if needed */
/* Adjust font sizes/spacing for small screens. Adjust card viewer margins/spacing for small screens. */

@media only screen and (min-width: 1600px) {
	#first, #second {
		font-size: 80px;
	}

	#headshot {
		width: 80px;
		height: 80px;
	}

	#statement {
		font-size: 15.2px;
	}
}

@media only screen and (min-width: 900px) {
	.App {
		display: grid;
		grid-template-columns: 60% 40%;
		grid-template-areas: "info cards";
	}
}


@media only screen and (max-width: 900px) {
	.App {
		display: grid;
		grid-template-rows: 30% 70%;
		grid-template-areas: 
			"info"
			"cards";
		align-items: center;
	}

	#personal-info {
		padding: 0 10% 5% 10%;
		background-color: #F9FFFD;
		border-bottom: 1px solid lightgray;
	}

	#first, #second {
		font-size: 60px;
	}
}