#headshot {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: 100% 12%;
  margin-top: 20px;
  margin-left: 5px;
  float: left;
  margin-right: 20px;
  shape-outside: circle();
}

#first {
	display: block;
	font-size: 70px;
	text-transform: uppercase;
	font-family: Helvetica;
	margin: 0;
	line-height: 85%;
	font-weight: bolder;
	margin-left: 7px;
}

#second {
	margin: 0;
	font-size: 70px;
	text-transform: uppercase;
	font-family: Helvetica;
	line-height: 85%;
	font-weight: bolder;
}


#links {
	margin-top: 10%;
}

#personal-info-container {
	position: fixed;
	grid-area: info;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: #F9FFFD;
}

#personal-info {
	position: relative;
	top: 10%;
	left: 3%;
}

#icons {
	margin-left: 115%;
	margin-top: 10px;
}

#statement {
	width: 600px;
	margin-top: 20px;
	font-size: 14.7px;
}

#info-github-icon {
	left: 130px;
}

#envelope-icon {
	left: 90px;
}

#envelope-icon:hover {
	transform: scale(1.1)
}

#info-github-icon:hover {
	transform: scale(1.1);
}

p {
	margin: 0;
}
	
#info-github-icon, #envelope-icon {
	color: black;
	transition: transform .1s ease-in;
	width: 20px;
	position: absolute;
}